@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
  background-color: #2A2C35;
  font-family: 'Press Start 2P', cursive;
}
.counter {
  max-width: 500px;
  height: 300px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 0 0 50px #111213;
}

.text {
  background-color: #61dafb;
  color: #2A2C35;
  font-size: 50px;
  padding-top: 30px;
}

.red_text {
  background-color: #61dafb;
  color: red;
  font-size: 50px;
  padding-top: 30px;
}

.display {
  display: flex;
  flex-direction: column;
  background-color: #61dafb;
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
  box-shadow: 0 0 20px #61dafb;
  height: 120px;

}
button{
  border-color: white;
  padding: 25px;
  margin: 30px;
  border-radius: 15px;
  color: white;
  width: 50px;
  height: 50px;
  padding: 8px;
}
button:hover{
  background-color: blue;
  background-color: rgba(141, 141, 141, 0.1);
}

button:disabled {
  color: rgba(255, 255, 255, 0.47);
}
button:disabled:hover {
  background-color: rgba(255, 49, 49, 0.23);
}
